/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "blueprint";

/*----------grid----------*/

$blueprint_grid_columns: 20;
$blueprint_grid_width: 24px;
$blueprint_grid_margin: 25px;

/*---------colors---------*/

$white: #ffffff;
$black: #000000;
$grey: #cecece;
$dark_grey: #818284;
$blue: #4341A6;

/*---------fonts----------*/

$trebuchet: "Trebuchet MS", Arial, Helvetica, sans-serif;

/*---------généralités---------*/

body{
	background-image:url(../images/fond.jpg);
	background-repeat:repeat-x;
	background-color:$grey;
	font-family: $trebuchet;
	color:$dark_grey;
	font-size:13px;
}
html{
	overflow:auto;
}

/*---------header---------*/

#header{
	width:960px;
	height:85px;
	margin:auto;
	background-image:url(../images/header.png);
	background-repeat:no-repeat;
	img{
		margin:15px 0px 0px 25px;
	}
}

/*---------content---------*/

#page{
	width:960px;
	margin:auto;
	background-image:url(../images/fond_contenu.png);
	#content{
		padding:0px 45px 45px 45px;
		h1{
			margin-left:5px;
			font-size:23px;
			margin-bottom:25px;
			font-weight:normal;
		}
		.dates{
			padding:5px;
			width:280px;
			float:left;
			p{
				background-color:$dark_grey;
				border:1px solid $dark_grey;
				color:$white;
				margin:0;
				padding:5px;
				&.inverse{
					background-color:$white;
					border:1px solid $dark_grey;
					color:$dark_grey;
				}
			}
			span{
				width:150px;
				display:block;
			}
			h2{
				font-size:17px;
				padding-bottom:5px;
				padding-left:5px;
				font-weight:normal;
			}
		}
		#clear{
			clear:both;
			width:100%;
			height:5px;
		}
		a{
			color:$blue;
			text-decoration:none;
			&:hover{
				text-decoration:underline;
			}
		}
		#nav{
			position:relative;
			margin-bottom:30px;
			#nav_picture{
				display:block;
			}
			#nav_text{
				position:absolute;
				top:282px;
				background-image:url(../images/nav_fond.png);
				background-repeat:no-repeat;
				background-position:bottom left;
				width:850px;
				padding:5px 20px;
				color: $white;
				font-size:18px;
				text-align:center;
				#citation{
					font-size:13px;
				}
			}
			#menu{
				position:absolute;
				right:0px;
				top:-85px;
				li{
					display:inline;
				}
				a{
					display:inline-block;
					padding:33px 10px 5px 10px;
					color:$dark_grey;
					text-decoration:none;
					&.active{
						background-color:$dark_grey;
						color:$white;
					}
					&:hover{
						background-color:$dark_grey;
						color:$white;
					}
				}
			}
		}
		#left_col{
			float:left;
			width:420px;
			h1{
				font-size:23px;
				margin-bottom:25px;
				font-weight:normal;
			}
		}
		#right_col{
			border-left:1px solid $grey;
			float:left;
			margin-left:25px;
			padding-left:20px;
			width:400px;
			h1{
				font-size:23px;
				margin-bottom:25px;
				font-weight:normal;
			}
			#google{
				width:215px;
				height:200px;
				float:right;
				border:none;
			}
		}
	}
	p{
		margin-bottom:20px;
	}
}

/*---------footer---------*/

#footer{
	clear:both;
	margin:auto;
	width:960px;
	height:119px;
	background-image:url(../images/footer.png);
}
