/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../ruby/ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../ruby/ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../ruby/ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../ruby/ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../ruby/ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../ruby/ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../ruby/ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../ruby/ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/*----------grid----------*/
/*---------colors---------*/
/*---------fonts----------*/
/*---------généralités---------*/
/* line 29, ../src/screen.scss */
body {
  background-image: url(../images/fond.jpg);
  background-repeat: repeat-x;
  background-color: #cecece;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #818284;
  font-size: 13px;
}

/* line 37, ../src/screen.scss */
html {
  overflow: auto;
}

/*---------header---------*/
/* line 43, ../src/screen.scss */
#header {
  width: 960px;
  height: 85px;
  margin: auto;
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
}
/* line 49, ../src/screen.scss */
#header img {
  margin: 15px 0px 0px 25px;
}

/*---------content---------*/
/* line 56, ../src/screen.scss */
#page {
  width: 960px;
  margin: auto;
  background-image: url(../images/fond_contenu.png);
}
/* line 60, ../src/screen.scss */
#page #content {
  padding: 0px 45px 45px 45px;
}
/* line 62, ../src/screen.scss */
#page #content h1 {
  margin-left: 5px;
  font-size: 23px;
  margin-bottom: 25px;
  font-weight: normal;
}
/* line 68, ../src/screen.scss */
#page #content .dates {
  padding: 5px;
  width: 280px;
  float: left;
}
/* line 72, ../src/screen.scss */
#page #content .dates p {
  background-color: #818284;
  border: 1px solid #818284;
  color: white;
  margin: 0;
  padding: 5px;
}
/* line 78, ../src/screen.scss */
#page #content .dates p.inverse {
  background-color: white;
  border: 1px solid #818284;
  color: #818284;
}
/* line 84, ../src/screen.scss */
#page #content .dates span {
  width: 150px;
  display: block;
}
/* line 88, ../src/screen.scss */
#page #content .dates h2 {
  font-size: 17px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-weight: normal;
}
/* line 95, ../src/screen.scss */
#page #content #clear {
  clear: both;
  width: 100%;
  height: 5px;
}
/* line 100, ../src/screen.scss */
#page #content a {
  color: #4341a6;
  text-decoration: none;
}
/* line 103, ../src/screen.scss */
#page #content a:hover {
  text-decoration: underline;
}
/* line 107, ../src/screen.scss */
#page #content #nav {
  position: relative;
  margin-bottom: 30px;
}
/* line 110, ../src/screen.scss */
#page #content #nav #nav_picture {
  display: block;
}
/* line 113, ../src/screen.scss */
#page #content #nav #nav_text {
  position: absolute;
  top: 282px;
  background-image: url(../images/nav_fond.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 850px;
  padding: 5px 20px;
  color: white;
  font-size: 18px;
  text-align: center;
}
/* line 124, ../src/screen.scss */
#page #content #nav #nav_text #citation {
  font-size: 13px;
}
/* line 128, ../src/screen.scss */
#page #content #nav #menu {
  position: absolute;
  right: 0px;
  top: -85px;
}
/* line 132, ../src/screen.scss */
#page #content #nav #menu li {
  display: inline;
}
/* line 135, ../src/screen.scss */
#page #content #nav #menu a {
  display: inline-block;
  padding: 33px 10px 5px 10px;
  color: #818284;
  text-decoration: none;
}
/* line 140, ../src/screen.scss */
#page #content #nav #menu a.active {
  background-color: #818284;
  color: white;
}
/* line 144, ../src/screen.scss */
#page #content #nav #menu a:hover {
  background-color: #818284;
  color: white;
}
/* line 151, ../src/screen.scss */
#page #content #left_col {
  float: left;
  width: 420px;
}
/* line 154, ../src/screen.scss */
#page #content #left_col h1 {
  font-size: 23px;
  margin-bottom: 25px;
  font-weight: normal;
}
/* line 160, ../src/screen.scss */
#page #content #right_col {
  border-left: 1px solid #cecece;
  float: left;
  margin-left: 25px;
  padding-left: 20px;
  width: 400px;
}
/* line 166, ../src/screen.scss */
#page #content #right_col h1 {
  font-size: 23px;
  margin-bottom: 25px;
  font-weight: normal;
}
/* line 171, ../src/screen.scss */
#page #content #right_col #google {
  width: 215px;
  height: 200px;
  float: right;
  border: none;
}
/* line 179, ../src/screen.scss */
#page p {
  margin-bottom: 20px;
}

/*---------footer---------*/
/* line 186, ../src/screen.scss */
#footer {
  clear: both;
  margin: auto;
  width: 960px;
  height: 119px;
  background-image: url(../images/footer.png);
}
