#section_1 > .nav_text {
  overflow: hidden;
  height: 0px;
  left: 3px !important;
}

#section_1 > .nav_text > p > span.text_background {
  background-color: #649488 !important;
}

#section_1 > .nav_text > h2 {
  display: block;
  padding: 10px 10px 0px 10px;
  color: inherit !important;
  font-weight: bold;
  font-size: 1em;
  font: inherit;
  cursor: pointer;
}

#section_1 > .nav_text > p {
  text-align: left;
  height: 18px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  cursor: pointer;
}