<%= f.fields_for :parts do |p| %>

  <% unless p.object.title=="title" %>
    <div id=<%="page_part_#{p.object.title}"%> class="page_part" >
            <%= p.label    t(p.object.title)  %>
            <%= p.text_field :body, :class => "widest" %>
    </div>
  <% end %>

<% end %>
