/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "blueprint";
@import "compass/css3";

/*----------grid----------*/

$blueprint_grid_columns: 20;
$blueprint_grid_width: 24px;
$blueprint_grid_margin: 25px;

/*---------colors---------*/

$white: #ffffff;
$black: #000000;
$grey: #cecece;
$dark_grey: #818284;
$light_grey: #F7F7F7;
$blue: #4341A6;

$section_colors: #649488 #C7BEB7 #A99E8B #75888E #7683A1 #97AEC0;


/*---------fonts----------*/

$trebuchet: "Trebuchet MS", Arial, Helvetica, sans-serif;

/*---------generalites---------*/

body{
  background-image:url(../images/fond.jpg);
  background-repeat:repeat-x;
  background-color:$grey;
  font-family: $trebuchet;
  color:$dark_grey;
  font-size:13px;
}

html{
  overflow:auto;
}

.text_background {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*---------header---------*/

#header{
  width:960px;
  height:85px;
  margin:auto;
  background-image:url(../images/header.png);
  background-repeat:no-repeat;
  img{
    margin:15px 0px 0px 25px;
  }
}

/*---------scroll bar---------*/

.scrollbar-pane {
  width:100%;
  margin-right: 20px;
}

.scrollbar-handle-container {
  background: nth($section_colors, 1);
  width: 5px;
}

.scrollbar-handle {
  width: 5px;
  background: $dark_grey;;
}

.scrollbar-handle:hover {
  background: #666;
}

.scrollbar-handle.move {
  background: #111;
}

/*---------content---------*/

#page{
  width:960px;
  margin:auto;
  background-image:url(../images/fond_contenu.png);
  #content{
    position:relative;
    padding:0px 45px 45px 45px;
    #calendar_overlay{
      background-color:$light_grey;
      border:1px solid $grey;
      padding:15px;
      z-index:20;
      width:350px;
      position:absolute;
      display:none;
    }
    h1{
      margin-left:5px;
      font-size:23px;
      margin-bottom:25px;
      font-weight:normal;
    }
    .dates{
      padding:5px;
      width:280px;
      float:left;
      p{
        background-color:$dark_grey;
        border:1px solid $dark_grey;
        color:$white;
        margin:0;
        padding:5px;
        &.inverse{
          background-color:$white;
          border:1px solid $dark_grey;
          color:$dark_grey;
        }
      }
      span{
        width:150px;
        display:block;
      }
      h2{
        font-size:17px;
        padding-bottom:5px;
        padding-left:5px;
        font-weight:normal;
      }
      img.right{
        float: right;
      }
    }
    #clear{
      clear:both;
      width:100%;
      height:5px;
    }
    a{
      color:$blue;
      text-decoration:none;
      &:hover{
        text-decoration:underline;
      }
    }
    #nav{
      position:relative;
    }
    #menu{
      position:absolute;
      right:0px;
      top:-85px;
      li{
        display:inline;
      }
      a{
        display:inline-block;
        padding:33px 10px 5px 10px;
        color:$dark_grey;
        text-decoration:none;
        &.active{
          background-color:$dark_grey;
          color:$white;
        }
        &:hover{
          background-color:$dark_grey;
          color:$white;
        }
      }
    }
    #left_col{
      float:left;
      width:300px;
			margin-right:25px;
      h2{
        font-size:23px;
        margin-bottom:25px;
        font-weight:normal;
      }
			.important{
				width:265px;
				padding:10px;
				margin-bottom:5px;
				text-align:center;
        behavior: url(/stylesheets/PIE/PIE.htc);
        -moz-border-radius: 10px; /* Firefox */
        -webkit-border-radius: 10px; /* Safari and Chrome */
        border-radius: 10px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
				background-color:nth($section_colors, 1);
				color:$white;
				font-weight:bold;
			}
			.infos{
				width:285px;
				li{
					width:100%;
					margin-bottom:2px;
				}
				h3{
          background-color:$dark_grey;
          color:$white;
					padding:3px;
				}
				p{
          position:relative;
					padding:3px 3px 15px 3px;
					border:1px solid $dark_grey;
          span {
            display:block;
            height:15px;
            a {
              position:absolute;
              bottom:2px;
              right:3px;
            }
          }
				}
			}
    }
    #center_col{
      float:left;
      width:300px;
      h2{
        font-size:23px;
        margin-bottom:25px;
        font-weight:normal;
      }
			.infos{
				width:285px;
				li{
					width:100%;
					margin-bottom:2px;
				}
				h3{
          background-color:$dark_grey;
          color:$white;
					padding:3px;
				}
				p{
					padding:3px 3px 15px 3px;
					border:1px solid $dark_grey;
				}
			}
    }
    #right_col{
      float:right;
			position:relative;
      padding-left:20px;
      width:220px;
      h2{
        font-size:23px;
        margin-bottom:25px;
        font-weight:normal;
      }
      h3{
        font-size:15px;
        margin:15px 0px 5px 0px;
        font-weight:bold;
      }
      #google{
        width:215px;
        height:200px;
        float:right;
        border:none;
      }
    }
    #page_content{
      margin-top:25px;
			#body_content{
				h1{
					margin:0px 0px 15px 0px;
					background-color:$dark_grey;
					color:$white;
					padding:5px;
				}
        .section_1{
					h2{
						background-color:nth($section_colors, 1);
						color:$white;
					}
        }
				.section_2{
					h2{
						background-color:nth($section_colors, 2);
						color:$white;
					}
				}
				.section_3{
					h2{
						background-color:nth($section_colors, 3);
						color:$white;
					}
				}
				.section_4{
					h2{
						background-color:nth($section_colors, 4);
						color:$white;
					}
				}
				.section_5{
					h2{
						background-color:nth($section_colors, 5);
						color:$white;
					}
				}
				.section_6{
					h2{
						background-color:nth($section_colors, 6);
						color:$white;
					}
        }
				#body_content_left{
					width:420px;
					float:left;
					img{
						width:420px;
						margin-bottom:5px;
					}
					h2{
						width:410px;
						margin:15px 0px 15px 0px;
						color:$white;
						padding:5px;
						font-size:20px;
						a{
							color:$white;
						}
					}
        .section_1{
					h2{
						background-color:nth($section_colors, 1);
						color:$white;
					}
        }
				.section_2{
					h2{
						background-color:nth($section_colors, 2);
						color:$white;
					}
				}
				.section_3{
					h2{
						background-color:nth($section_colors, 3);
						color:$white;
					}
				}
				.section_4{
					h2{
						background-color:nth($section_colors, 4);
						color:$white;
					}
				}
				.section_5{
					h2{
						background-color:nth($section_colors, 5);
						color:$white;
					}
				}
				.section_6{
					h2{
						background-color:nth($section_colors, 6);
						color:$white;
					}
        }

				}
				#body_content_right{
					h2{
						margin:15px 0px 15px 0px;
						color:$white;
						padding:5px;
						font-size:20px;
					}
        }
			}
			.portfolio{
				h1{
					margin:0px 0px 15px 0px;
					color:$white;
					padding:5px;
				}
        .section_1{
					h1{
						background-color:nth($section_colors, 1);
						color:$white;
					}
        }
				.section_2{
					h1{
						background-color:nth($section_colors, 2);
						color:$white;
					}
				}
				.section_3{
					h1{
						background-color:nth($section_colors, 3);
						color:$white;
					}
				}
				.section_4{
					h1{
						background-color:nth($section_colors, 4);
						color:$white;
					}
				}
				.section_5{
					h1{
						background-color:nth($section_colors, 5);
						color:$white;
					}
				}
				.section_6{
					h1{
						background-color:nth($section_colors, 6);
						color:$white;
					}
        }
        h2{
					margin:0px 0px 15px 0px;
					color:$white;
					padding:5px;
          background-color:nth($section_colors, 1);
				}

				#left_col{
					float:left;
					width:545px;
				}
				#right_col{
					width:280px;
					float:right;
				}
			}
			form{
				width:500px;
				margin:auto;
				h2{
					font-size:21px;
					margin:0px 0px 15px 0px;
					background-color:nth($section_colors, 5);
					padding:5px;
					color:$white;
					text-align:center;
				}
				input{
					width:500px;
				}
				label{
					font-style:italic;
				}
				.submit{
					border:1px solid $grey;
					margin-top:15px;
					cursor:pointer;
					width:507px;
					height:30px;
					background-color:nth($section_colors, 5);
					color:$white;
					font-weight:bold;
					&:hover{
						background-color:$dark_grey;
					}
				}
			}
			#text{
				padding-left:150px;
				padding-right:150px;
				font-size:16px;
				p{
					text-align:justify;
				}
				h1{
					font-size:37px;
					margin:0px 0px 15px 0px;
					padding:0;
				}
				h2{
					font-size:26px;
					margin:30px 0px 15px 0px;
					padding:5px;
					background-color:$dark_grey;
					color:$white;
				}
				h3{
					font-size:24px;
					margin:30px 0px 15px 0px;
				}
				h4{
					font-size:21px;
					margin:0px 0px 15px 0px;
				}
				&.section_1{
					h2{
						background-color:nth($section_colors, 1);
						color:$white;
					}
				}
				&.section_2{
					h2{
						background-color:nth($section_colors, 2);
						color:$white;
					}
				}
				&.section_3{
					h2{
						background-color:nth($section_colors, 3);
						color:$white;
					}
				}
				&.section_4{
					h2{
						background-color:nth($section_colors, 4);
						color:$white;
					}
				}
				&.section_5{
					h2{
						background-color:nth($section_colors, 5);
						color:$white;
					}
				}
				&.section_6{
					h2{
						background-color:nth($section_colors, 6);
						color:$white;
					}
				}
				em{
					font-style:italic;	
				}
				strong{
					font-weight:bold;
				}
				p{
					margin:0px 0px 15px 0px;
				}
				img{
					float:left;
					clear:left;
					margin:0px 15px 15px 0px;
				}
				ul{
					clear:both;
					margin:0px 0px 15px 15px;
					li{
						list-style-type:square;
						margin-bottom:5px;
					}
				}
				ol{
					clear:both;
					margin:0px 0px 15px 22px;
					li{
						list-style-type:decimal;
						margin-bottom:5px;
					}
				}
				table{
					margin-bottom:15px;
					caption{
						padding:5px;
						font-style:italic;
					}
					td{
						border:1px dotted $light_grey;
						padding:5px;
					}
				}
			}
      #news_block{
        .scrollable{
          height:247px;
          @include border-bottom-radius(4px);
          border-top:1px solid $dark_grey;
        }
      }
      #page_block{
        .scrollable{
          height:247px;
          @include border-bottom-radius(4px);
          border-top:1px solid $dark_grey;
        }
      }
      .block{
        position:relative;
        width:  420px;
        height: 300px;
        background-color: $light_grey;
        float: left;
        margin-bottom:25px;
        behavior: url(/stylesheets/PIE/PIE.htc);
        -moz-border-radius: 4px; /* Firefox */
        -webkit-border-radius: 4px; /* Safari and Chrome */
        border-radius: 4px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
        @include box-shadow(#000 0 1px 2px, #fff 0 1px inset);
        h1{
          margin:15px 0px 15px 0px;
          text-align: center;
        }
        ul.tree_level_1{
          padding-top:15px;
          padding-left:40px;
          li{
            list-style-type:square;
            font-size:16px;
            margin-bottom:10px;
            padding-left:10px;
          }
        }
        ul.tree_level_2{
          margin-left:25px;
          li{
            list-style-type:disc;
          }
        }
        @for $i from 3 through 5 {
          ul.tree_level_#{$i} {
            margin-left:25px;
            li{
              list-style-type:circle;
            }
          }
        }
        #portfolios_container, #month_container{
          height:185px;
          width:5000px;
          display: block;
          position: absolute;
          left:0;
        }
        #portfolio_window, #month_window{
          overflow: hidden;
          position: relative;
          height:185px;
          width:420px;
        }
        .flash{
          background-color:$white;
          border-bottom:1px solid $dark_grey;
          &.portfolio{
            height:184px;
            width:420px;
            float: left;
          }
          .thumbnails_img{
            height:92px;
            margin:0;
            padding:0;
            border:none;
          }
          .img_resize{
            overflow:hidden;
            float:left;
            width:105px;
            height:92px;
          }
        }
        .calendar{
          height:185px;
          width:420px;
          float: left;
          padding-top:5px;
          background-color:$white;
          border-top:1px solid $dark_grey;
          border-bottom:1px solid $dark_grey;
          ul{
            clear:both;
            width:154px;
            margin:auto;
            li{
              position:relative;
              float:left;
              border-right:1px solid $dark_grey;		
              border-top:1px solid $dark_grey;		
              border-bottom:1px solid $dark_grey;		
              font-size:13px;
              width:20px;
              height:20px;
              margin-top:5px;
              background-color:$light_grey;
              &.first{
                border-left:1px solid $dark_grey;		
              }
              &.weekend{
                background-color:#C8C7F9;
              }
              &.event_check{
                background-color:#D9F5FF;
              }
              span.event_number{
                color:#ff0000;
                position:absolute;
                top:9px;
                right:1px;
                font-size:12px;
              }
            }
          }
          #current_week{
            width:228px;
            position: relative;
            li{
              font-size:20px;
              width:30px;
              height:30px;
              span.event_number{
                font-size:16px;
                color:#ff0000;
                position:absolute;
                top:14px;
                right:1px;
              }
            }
          }
        }
        #month_switcher, #portfolio_switcher {
          position:relative;
          font-size:18px;
          margin-top:12px;
          width: 420px;
          a{
            position:absolute;
            text-align: left;
            display:block;
            width:23px;
            height:13px;
            background-position:top;
            margin-top:4px;
            &.target{
              display: block;
              width: 320px;
              margin: 0 50px;
              text-align: center;
            }
          }
          .left{
            top:2px;
            left:20px;
            background-image:url("../images/arrow_l.jpg");
            &:hover{
              background-position:bottom;
            }
          }
          .right{
            top:2px;
            right:20px;
            background-image:url("../images/arrow_r.jpg");
            &:hover{
              background-position:bottom;
            }
          }
        }
       .event{
          width:390px;
          padding:15px 0px 20px 25px;
          .event_date{
            float:left;
            margin-right:25px;
          }
					.event_info{
						margin:5px 0px 0px 81px;
					}
        }
        .layer{
          z-index:10;
          position:absolute;
          width:  420px;
          height: 300px;
          background-color:nth($section_colors, 2);
          .portfolio_img{
            behavior: url(/stylesheets/PIE/PIE.htc);
            -moz-border-radius: 4px; /* Firefox */
            -webkit-border-radius: 4px; /* Safari and Chrome */
            border-radius: 4px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
            width:  420px;
            height: 300px;
          }
          .more{
            position:absolute;
            bottom:25px;
            right:25px;
          }
          #news{
            height:60px;
            margin-top:25px;
            border-top:3px solid $dark_grey;
            border-bottom:3px solid $dark_grey;
            background-color:$white;
            h1{
              font-family:times;
              font-size:40px;
              margin:10px 0px;
              text-align:center;
            }
          }
          #today{
            height:60px;
            margin-top:25px;
            border-top:3px solid $dark_grey;
            border-bottom:3px solid $dark_grey;
            background-color:$white;
            #today_month{
              font-size:20px;
              margin-top:4px;
              margin-bottom:5px;
              text-align:center;
            }
            #today_number{
              font-size:25px;
            }
            #today_day{
              font-size:18px;
            }
            #today_wrap{
              text-align:center;
            }
          }
          .news{
            margin-top:15px;
            color:$white;
            h2{
              font-size:20px;
              text-align:center;
            }
            p{
              font-size:17px;
              text-align:center;
            }
          }
        }
      }
      .right{
        float:right;
      }
    }
  }
}

/*---------menu---------*/
#section_container{
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari and Chrome */
  border-radius: 4px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
  behavior: url(/stylesheets/PIE/PIE.htc);
  position:relative;
  width:870px;
  height:328px;
  overflow:hidden;

  .section {
    width:870px;
    height:328px;
    position:absolute;
    @include opacity(1);
    z-index: 15;

    .nav_wrap{
      position:absolute;
      top:0;
      left:0;
      z-index:18;

      .nav_img{
        position:absolute;
        top:0;
        left:0;
        z-index:20;
      }

      .nav_background{
        width:40px;
        height:328px;
        display:block;
        @include opacity(0.9);

        &.active, &:hover {
          @include opacity(1);
        }
      }
    }

    .nav_picture{
      position:absolute;
      top:0;
      left:0;
    }

    .nav_text {
      position: absolute;
      bottom: 0;
      left: 40px;
      width: 670px;
      z-index: 15;
      color: $white;

      h2, p {
        position: relative;
        a {
          display: block;
          padding: 5px 10px 7px 5px;
          color: inherit!important;
          &:hover {
            text-decoration: none!important;
          }
        }
      }

      h2 {
        font-size: 18px;
        font-weight: bold;
      }

      p {
        font-size: 14px;
        line-height: 18px;
        color: lighten($blue, 10);
      }

      h2 .text_background {
        @include opacity(0.9);
      }

      p .text_background {
        @include opacity(0.9);
        background-color: $grey;
      }
    }
  }

  #section_1 {
    .nav_text {
      left: 0;

      h2 .text_background {
        background-color:nth($section_colors, 1);
      }

      p {
        display: none;
      }
    }
  }

  @for $i from 2 through 6 {
    #section_#{$i} {
      left: 630px + (($i - 1) * 40px);

      .nav_wrap {
        cursor:pointer;
        .nav_background {
          background-color:nth($section_colors, $i);
        }
      }

      .nav_text {
        h2 .text_background {
          background-color:nth($section_colors, $i);
        }
      }

      &.open{
        left: (($i - 2) * 40px);
      }
    }

    #form_contact{
      position:absolute;
      padding:20px;
      background-image:url(../images/fond_contact.png);
      -moz-border-radius: 4px; /* Firefox */
      -webkit-border-radius: 4px; /* Safari and Chrome */
      border-radius: 4px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
      behavior: url(/stylesheets/PIE/PIE.htc);
      z-index:10;
      width:588px;
      height:306px;
      border:1px solid $grey;
      padding:40px 20px 0px 100px;
      form{
        .float{
          float:left;
          margin-right:40px;
					p{
						width:310px;
					}
					h2{
						width:185px;
						font-size:14px;
						font-weight:bold;
						margin-bottom:5px;
					}
					strong{
						font-weight:bold;
					}
          #contact_message{
            width:300px;
            height:100px;
            margin:2px 0px 17px 0px;
            display:none;
          }
          .submit{
            width:185px;;
            background-color:$white;
            color:nth($section_colors, 6);
            border:1px solid nth($section_colors, 6);
            padding:1px 0px;
            cursor:pointer;
            &:hover{
              color:$dark_grey;
            }
          }
        }
        input{
          width:180px;
          margin:2px 0px 5px 0px;
        }
      }
    }
  }
}
/*--formating  specific to the agenda page --*/
#agenda{
      float:left;
      width:600px;
			margin-right:25px;
      h2{
        font-size:23px;
        margin-bottom:25px;
        font-weight:normal;
      }
			.infos{
				width:585px;
				li{
					width:100%;
					margin-bottom:10px;
				}
        .empty{
          text-indent: 13px;
        }

				h3{
          background-color:$white;
          color:$dark_grey;
          padding: 3px 3px 0px 0px;
          .event_container{
            position:relative;
            height: 20px;
            .date{
              border:1px solid $dark_grey;
              background-color:$dark_grey;
              color:$white;
              padding: 3px;
              width: 205px;
            }
            .title{
              position: absolute;
              left: 220px;
              top: 5px;
            }
          }
        }
				p{
          margin-top: 10px;
          padding:3px 3px 15px 3px;
					border:1px solid $dark_grey;
				}
			}
}
/*---------footer---------*/

#footer{
  clear:both;
  margin:auto;
  width:960px;
  height:119px;
  background-image:url(../images/footer.png);
}
