/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "blueprint";
@import "compass/css3";

/*----------grid----------*/

$blueprint_grid_columns: 20;
$blueprint_grid_width: 24px;
$blueprint_grid_margin: 25px;

/*---------colors---------*/

$white: #ffffff;
$black: #000000;
$grey: #cecece;
$dark_grey: #818284;
$light_grey: #F7F7F7;
$blue: #4341A6;

$section1: #C7BEB7;
$section2: #A99E8B;
$section3: #75888E;
$section4: #7683A1;
$section5: #97AEC0;


/*---------fonts----------*/

$trebuchet: "Trebuchet MS", Arial, Helvetica, sans-serif;

/*---------generalites---------*/

body{
  background-image:url(../images/fond.jpg);
  background-repeat:repeat-x;
  background-color:$grey;
  font-family: $trebuchet;
  color:$dark_grey;
  font-size:13px;
}

html{
  overflow:auto;
}

/*---------header---------*/

#header{
  width:960px;
  height:85px;
  margin:auto;
  background-image:url(../images/header.png);
  background-repeat:no-repeat;
  img{
    margin:15px 0px 0px 25px;
  }
}

/*---------scroll bar---------*/

.scrollbar-pane {
  width:100%;
  margin-right: 20px;
}

.scrollbar-handle-container {
  background: $section1;
  width: 5px;
}

.scrollbar-handle {
  width: 5px;
  background: $dark_grey;;
}

.scrollbar-handle:hover {
  background: #666;
}

.scrollbar-handle.move {
  background: #111;
}

/*---------content---------*/

#page{
  width:960px;
  margin:auto;
  background-image:url(../images/fond_contenu.png);
  #content{
    position:relative;
    padding:0px 45px 45px 45px;
    .calendar_overlay{
      display:none;
      background-color:$light_grey;
      border:1px solid $grey;
      padding:15px;
      z-index:20;
      right:-146px;
      bottom:69px;
      width:350px;
      position:absolute;
    }
    h1{
      margin-left:5px;
      font-size:23px;
      margin-bottom:25px;
      font-weight:normal;
    }
    .dates{
      padding:5px;
      width:280px;
      float:left;
      p{
        background-color:$dark_grey;
        border:1px solid $dark_grey;
        color:$white;
        margin:0;
        padding:5px;
        &.inverse{
          background-color:$white;
          border:1px solid $dark_grey;
          color:$dark_grey;
        }
      }
      span{
        width:150px;
        display:block;
      }
      h2{
        font-size:17px;
        padding-bottom:5px;
        padding-left:5px;
        font-weight:normal;
      }
      img.right{
        float: right;
      }
    }
    #clear{
      clear:both;
      width:100%;
      height:5px;
    }
    a{
      color:$blue;
      text-decoration:none;
      &:hover{
        text-decoration:underline;
      }
    }
    #nav{
      position:relative;
    }
    #menu{
      position:absolute;
      right:0px;
      top:-85px;
      li{
        display:inline;
      }
      a{
        display:inline-block;
        padding:33px 10px 5px 10px;
        color:$dark_grey;
        text-decoration:none;
        &.active{
          background-color:$dark_grey;
          color:$white;
        }
        &:hover{
          background-color:$dark_grey;
          color:$white;
        }
      }
    }
    #left_col{
      float:left;
      width:420px;
      h1{
        font-size:23px;
        margin-bottom:25px;
        font-weight:normal;
      }
    }
    #right_col{
      border-left:1px solid $grey;
      float:left;
      margin-left:25px;
      padding-left:20px;
      width:400px;
      h1{
        font-size:23px;
        margin-bottom:25px;
        font-weight:normal;
      }
      #google{
        width:215px;
        height:200px;
        float:right;
        border:none;
      }
    }
    #page_content{
      margin-top:25px;
      #news_block{
        .scrollable{
          height:247px;
          @include border-bottom-radius(4px);
          border-top:1px solid $dark_grey;
        }
      }
      #page_block{
        .scrollable{
          height:247px;
          @include border-bottom-radius(4px);
          border-top:1px solid $dark_grey;
        }
      }
      .block{
        position:relative;
        width:  420px;
        height: 300px;
        background-color: $light_grey;
        float: left;
        margin-bottom:25px;
        behavior: url(/stylesheets/PIE/PIE.htc);
        -moz-border-radius: 4px; /* Firefox */
        -webkit-border-radius: 4px; /* Safari and Chrome */
        border-radius: 4px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
        @include box-shadow(#000 0 1px 2px, #fff 0 1px inset);
        h1{
          margin:15px 0px 15px 25px;
        }
        #further{
          padding-top:15px;
          padding-left:40px;
          li{
            list-style-type:square;
            font-size:16px;
            margin-bottom:10px;
            padding-left:10px;
          }
        }
        .submenu{
          margin-left:25px;
          li{
            list-style-type:disc;
          }
        }
        .sub_submenu{
          margin-left:25px;
          li{
            list-style-type:circle;
          }
        }
        #flash{
          background-color:$white;
          border-bottom:1px solid $dark_grey;
          display: none;
          &.portfolio{
            height:184px;
          }
          &.current{
            display: inline;
          }
          .thumbnails_img{
            height:92px;
            margin:0;
            padding:0;
            border:none;
          }
          .img_resize{
            overflow:hidden;
            float:left;
            width:105px;
            height:92px;
          }
        }
        #calendar{
          height:185px;
          padding-top:5px;
          background-color:$white;
          border-top:1px solid $dark_grey;
          border-bottom:1px solid $dark_grey;
          ul{
            clear:both;
            width:189px;
            margin:auto;
            li{
              position:relative;
              float:left;
              border-right:1px solid $dark_grey;		
              border-top:1px solid $dark_grey;		
              border-bottom:1px solid $dark_grey;		
              font-size:13px;
              width:25px;
              height:25px;
              margin-top:5px;
              background-color:$light_grey;
              &.first{
                border-left:1px solid $dark_grey;		
              }
              &.weekend{
                background-color:#C8C7F9;
              }
              &.event_check{
                background-color:#D9F5FF;
              }
              span.event_number{
                color:#ff0000;
                position:absolute;
                top:10px;
                right:1px;
              }
            }
          }
          #current_week{
            width:298px;
            li{
              font-size:20px;
              width:40px;
              height:40px;
            }
            span.event_number{
              color:#ff0000;
              position:relative;
              top:16px;
            }
          }
        }
        #month_switcher{
          position:relative;
          top:200px;
          font-size:18px;
          margin-top:12px;
          a{
            position:absolute;
            text-align: left;
            display:block;
            width:23px;
            height:13px;
            background-position:top;
            margin-top:4px;
          }
          .left{
            bottom:2px;
            left:20px;
            background-image:url("../images/arrow_l.jpg");
            &:hover{
              background-position:bottom;
            }
          }
          .right{
            bottom:2px;
            right:20px;
            background-image:url("../images/arrow_r.jpg");
            &:hover{
              background-position:bottom;
            }
          }
          p{
            text-align:left;
          }
        }
        .event{
          width:390px;
          padding:15px 0px 20px 25px;
          .event_date{
            float:left;
            margin-right:25px;
          }
        }
        .layer{
          display:none;
          z-index:10;
          position:absolute;
          width:  420px;
          height: 300px;
          background-color:$section1;
          .portfolio_img{
            behavior: url(/stylesheets/PIE/PIE.htc);
            -moz-border-radius: 4px; /* Firefox */
            -webkit-border-radius: 4px; /* Safari and Chrome */
            border-radius: 4px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
            width:  420px;
            height: 300px;
          }
          .more{
            position:absolute;
            bottom:25px;
            right:25px;
          }
          #news{
            height:60px;
            margin-top:25px;
            border-top:3px solid $dark_grey;
            border-bottom:3px solid $dark_grey;
            background-color:$white;
            h1{
              font-family:times;
              font-size:40px;
              margin:10px 0px;
              text-align:center;
            }
          }
          #today{
            height:60px;
            margin-top:25px;
            border-top:3px solid $dark_grey;
            border-bottom:3px solid $dark_grey;
            background-color:$white;
            #today_month{
              font-size:20px;
              margin-top:4px;
              margin-bottom:5px;
              text-align:center;
            }
            #today_number{
              font-size:25px;
            }
            #today_day{
              font-size:18px;
            }
            #today_wrap{
              text-align:center;
            }
          }
          .news{
            margin-top:15px;
            color:$white;
            h2{
              font-size:20px;
              text-align:center;
            }
            p{
              font-size:17px;
              text-align:center;
            }
          }
        }
      }
      .right{
        float:right;
      }
    }
  }
}
/*---------accordion---------*/
#page #content #section_data{
  -moz-border-radius: 4px; /* Firefox */
  -webkit-border-radius: 4px; /* Safari and Chrome */
  border-radius: 4px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
  behavior: url(/stylesheets/PIE/PIE.htc);
  position:relative;
  width:870px;
  height:328px;
  overflow:hidden;
  .nav_img{
    position:absolute;
    top:0;
    left:0;
    z-index:20;
  }
  .nav_wrap{
    position:absolute;
    top:0;
    left:0;
    z-index:18;
  }
  .nav_picture{
    position:absolute;
    top:0;
    left:0;
  }
  .nav_background{
    width:40px;
    height:328px;
    display:block;
    @include opacity(0.9);
    &.active{
      @include opacity(1);
    }
  }
  #section_1{
    width:870px;
    position:absolute;
  }
  #section_2{
    width:870px;
    position:absolute;
    left:670px;
    .nav_wrap{
      .nav_background{
        background-color:$section1;
      }
    }
    &.open{
      left:0px;
    }
  }
  #section_3{
    width:870px;
    position:absolute;
    left:710px;
    .nav_wrap{
      position:absolute;
      top:0;
      left:0;
      .nav_background{
        background-color:$section2;
      }
    }
    &.open{
      left:40px;
    }
  }
  #section_4{
    width:870px;
    position:absolute;
    left:750px;
    .nav_wrap{
      .nav_background{
        background-color:$section3;
      }
    }
    &.open{
      left:80px;
    }
  }
  #section_5{
    width:870px;
    position:absolute;
    left:790px;
    .nav_wrap{
      .nav_background{
        background-color:$section4;
      }
    }
    &.open{
      left:120px;
    }
  }
  #section_6{
    width:870px;
    position:absolute;
    left:830px;
    .nav_wrap{
      .nav_background{
        background-color:$section5;
      }
    }
    &.open{
      left:160px;
    }
  }
}

/*---------footer---------*/

#footer{
  clear:both;
  margin:auto;
  width:960px;
  height:119px;
  background-image:url(../images/footer.png);
}
