<% if page.children.any?{|child| page_tree_child?(child) } %>
  <div class="block <%= odd ? 'left' : 'right' %> " id="page_block">

    <div class="layer">
      <img src="/images/more.png" class="more" />
    </div>

    <h1>Pour aller plus loin</h1>

    <div class="scrollable">
      <ul id="further">
        <%= page_tree(page) %>
      </ul>
    </div>

  </div>
<% end %>
